{% extends 'base.html' %}

{% block title %}
	Sportbarinn.is - Site Administration
{% endblock %}

{% block pagetitle %}
	Sportbarinn.is - Links
{% endblock %}

{% block content %}
	<form action="/admin/links/save" enctype="multipart/form-data" method="post">
		{{metaform}}
		<p><input type="submit" value="Vista" class="submitbutton" /></p>
	</form>
{% endblock %}

{% block sidebar %}
	<ul>
		{% for link in left_items %}
			<li><a href="/admin/links/{{link.key}}">{{ link.title }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}