<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Sportbarinn.is</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/reset-fonts-grids/reset-fonts-grids.css"> 
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/base/base-min.css"> 
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"> 
</head>
<body>
	<div id="doc4" class="yui-t7">
		<div id="hd" class="header"><h1>Sportbarinn.is</h1></div>
		<div id="bd" class="body">
			<div class="yui-g content">
				Síðan sem þú leitar að er ekki til.
			</div>
		</div>
		<div id="ft" class="footer">
			<p>Sportbarinn / Ölver -  Addressa, símanúmer og email</p>
		</div>
	</div>
</body>
</html>